body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__container {
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-height: 250px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	box-sizing: border-box;
	margin-right: 120px;
	display: none;
	position: fixed;
	top: 200px;
	left: 650px;
	z-index: 1;
}

.container__tasks {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 600px;
	width: 700px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
}

.container__tasks::-webkit-scrollbar {
	width: 0px;
}

.container__tasks ::-webkit-scrollbar-thumb {
	background-color: #888;
}

h1,
h2 {
	text-align: center;
}

.sort {
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type='text'] {
	padding: 10px;
	width: calc(100% - 80px);
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 16px;
}

button {
	padding: 10px 20px;
	cursor: pointer;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}

ul {
	list-style-type: none;
	padding: 0;
	word-break: break-all;
}

.task-text {
	margin: 0 20px 0 0;
	flex: 1;
}

.btn {
	min-width: 120px;
}

.container__tasks li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 5px;
}

input[type='checkbox'] {
	margin-right: 10px;
}

select {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}

span.task-text {
	cursor: default;
}
